<form class="signin-form">
  <div>
    <label for="username-signin">Username:</label>
    <input type="text" id="username-signin" />
  </div>
  <div>
    <label for="password-signin">Password:</label>
    <input type="password" id="password-signin" />
  </div>
  <div>
    <button type="submit">Sign In</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/login.js"></script>