<form class="signin-form">
  <div>
    <label for="username-signin">Username:</label>
    <input type="text" id="username-signin" />
  </div>
  <div>
    <label for="password-signin">Password:</label>
    <input type="password" id="password-signin" />
  </div>
  <div>
    <button type="submit">Sign In</button>
  </div>
  <div>
    Don't have an account?
    <button type="click">Sign Up</button>
  </div>
</form>

<script src="/js/login.js"></script>